    
    <section>
      <div data-collapse="tiny" data-animation="over-right" data-duration="400" role="banner" class="navbar w-nav">
        <div class="w-container">
          <a href="/" aria-current="page" class="logo w-nav-brand w--current">
            <div class="long-text">Escape.</div>
          </a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/" aria-current="page" class="nav-link w-nav-link w--current">Home</a>
            <a href="/categories" class="nav-link w-nav-link">Categories</a>
            <a href="/about" class="nav-link w-nav-link">About</a>
            <a href="/contact" class="nav-link w-nav-link">Contact</a>
            <a href="#" class="close-x w-hidden-main w-hidden-medium w-hidden-small">×</a>
          </nav>
          <div class="menu-button w-hidden-main w-hidden-medium w-hidden-small w-clearfix w-nav-button">
            <div class="menu-icon w-icon-nav-menu"></div>
            <div class="menu-link">MENU</div>
          </div>
        </div>
      </div>
      <div class="hero-section wf-section">
        <div class="hero-content w-container">
          <div style="-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hero-heading">Let&#x27;s do it together.</div>
          <div style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-subheading">We travel the world in search of stories. Come along for the ride.</div>
          <a href="#Latest-post" style="opacity:0" class="button w-button">View Latest Posts</a>
        </div>
      </div>
      <div class="category-section wf-section">
        <div class="w-container">
          <div class="w-dyn-list">
            <div role="list" class="w-clearfix w-dyn-items w-row">
              <div role="listitem" class="category-wrapper w-dyn-item w-col w-col-2">
                <a href="#" class="category-link"></a>
              </div>
            </div>
            <div class="w-dyn-empty">
              <p>No items found.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="posts" class="main-section bottom-padding wf-section">
        <div id="Latest-post" class="w-container">
          <div class="section-heading">
            <h2 class="section-title">Featured Posts</h2>
            <div class="med-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="w-clearfix w-dyn-items w-row">
              <div role="listitem" class="featuredthumbnail w-dyn-item w-col w-col-6">
                <a href="#" data-w-id="3c1b0055-dd47-cc77-5812-26c30ac7c948" class="featured-wrapper w-inline-block">
                  <div>
                    <div class="category-tag-2"></div>
                    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="featured-image"></div>
                  </div>
                  <div class="featured-text">
                    <div class="featured-title"></div>
                    <div class="featured-description"></div>
                    <div class="featured-details">
                      <div class="w-clearfix"><img src="" alt="" class="author-img">
                        <div class="author-title lite"></div>
                        <div class="thumbnail-date lite"></div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-dyn-empty">
              <p>No items found.</p>
            </div>
          </div>
        </div>
        <div class="w-container">
          <div class="section-heading">
            <h2 class="section-title">Most Recent</h2>
            <div class="med-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="w-clearfix w-dyn-items w-row">
              <div role="listitem" class="blog-thumbnail w-dyn-item w-col w-col-4">
                <a href="#" data-w-id="46150442-4efa-9d36-3a4c-20d527e7a6bc" class="thumbnail-wrapper w-inline-block">
                  <div class="image-wrapper">
                    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="thumbnail-image"></div>
                    <div class="category-tag"></div>
                  </div>
                  <div class="thumbnail-text">
                    <div class="blog-title"></div>
                    <div class="preview-text"></div>
                  </div>
                  <div class="thumb-details w-clearfix"><img src="" alt="" class="author-img">
                    <div class="author-title"></div>
                    <div class="thumbnail-date"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="w-dyn-empty">
              <p>No items found.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="main-section dark wf-section">
        <div class="w-container">
          <div class="section-heading">
            <h2 class="white">Stay in Touch</h2>
            <div class="med-divider"></div>
          </div>
          <div class="form-wrapper w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix"><input type="email" id="email" name="email" data-name="Email" placeholder="Enter your email address" maxlength="256" required="" class="field w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></form>
            <div class="success-message w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>
        <div class="footer-section">
          <div class="w-container">
            <div class="w-row">
              <div class="w-col w-col-4 w-col-small-4">
                <a href="/" aria-current="page" class="footer-logo w-inline-block w--current">
                  <div class="long-text">Escape.</div>
                </a>
              </div>
              <div class="footer-links w-col w-col-8 w-col-small-8">
                <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                <a href="/categories" class="footer-link">Categories</a>
                <a href="/about" class="footer-link">About</a>
                <a href="/contact" class="footer-link">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
</section>