<article>
  <a href="/Aquarium"> &larr; Back to homepage</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{post.contents}})</span>
    </div>
    <div>
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} </a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/JS/edit-post.js"></script>
<script src="/JS/delete-post.js"></script>
<script src="/JS/comment.js"></script>