<h1 class="title is-1">welcome to Aquarium!  <span class="title is-5">{{name}}</span> </h1>

{{!-- registration form --}}
<form action="/register" method="POST" class="box">
  <div class="field">
    <label class="label" for="name"> Username </label>
    <div class="control">
      <input class="input" type="text" name="name" id="name"  placeholder="e.g. alex@example.com" 
      required>
    </div>
  </div>

  <div class="field">
    <label for="password" class="label">Password</label>
    <div class="control">
      <input class="input" type="password" id= "password" placeholder="********" name="password">
    </div>
  </div>

  <button id= "signup-form" class="button is-primary" type="submit">Register</button>
</form>
<a href="/">Login</a>

